<span class="mobile mobile-menu">
  <i class="icon fa fa-bars"></i>
  <i class="icon fa fa-times hidden"></i>
</span>

<header class="header-cover" style="background-image: url({{ "images/cover.jpg " | prepend: site.baseurl }})">
  <div class="header-main">
    <div class="inner header-inverted">
      <div class="header-content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
          <!-- <img src="{{ "images/profile.jpg " | prepend: site.baseurl }}" class="user-image" alt="My Profile Photo"> -->
          <h1>{{ site.title }}</h1>
        </a>
        <hr class="divider">
        <p class="description">{{ site.description }}</p>
        <hr class="divider divider-smaller">
        <div class="navigation-wrapper">
          <nav>
            <ul class="navigation">
              <li><a href="{{ site.baseurl }}#blog" class="blog-button" title="link to {{ site.title }} blog" >Blog</a></li>
              <li><a href="{{ "categories" | prepend: site.baseurl }}" title="link to {{ site.title }} categories" >Categories</a></li>
              <li><a href="{{ "tags" | prepend: site.baseurl }}" title="link to {{ site.title }} tags" >Tags</a></li>
            </ul>
          </nav>
          <nav>
            <ul class="navigation social">

              {% if site.author.twitter_username %}
              <li>
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %} {% if site.author.github_username %}
              <li>
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %} {% if site.author.email %}
              <li>
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
              <li>
                <a href="{{ "feed.xml" | prepend: site.baseurl }}" title="Subscribe" target="_blank">
                  <i class="fa fa-rss" aria-hidden="true"></i>
                  <span class="label">RSS</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</header>
